<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content mi-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{titulo}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{mensaje}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmacion()">Si</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
</div>
