<div class="card">
  <div class="card-body text-center mi-card">
    <span class="titulo"> Prestador : {{ guia?.empresa }}</span>
    <div *ngIf="!agregatravesia && !editatravesia && !copiatravesia" class="form-group text-start">
      <table class="table table-striped  mt-2"> 
        <thead>
          <tr>
            <th class="text-center" colspan="3">
              <button class="btn btn-success" (click)="agregatravesia = true">Carga Nueva
                Travesia</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="travesias?.length == 0  "   class="text-center">
            <td colspan="2"> <div class="alert alert-info text-center"> No se encuentras travesias para mostrar </div></td>
          </tr>
          <tr *ngFor="let travesia of travesias! | paginate: { itemsPerPage: 6, currentPage: p } ; let indice = index"   class="text-center">
            <td class="align-middle">{{travesia.lugar}}</td>
            <td class="align-middle">{{travesia.fecha | date: 'dd/MM/yyyy' }}</td>
            <td class="align-middle">
              <div class="d-flex justify-content-between">
                <button class="btn btn-info btn-xs" (click)="editar(indice)"><i class="fa-regular fa-pen-to-square"></i> </button>
                <button class="btn btn-secondary btn-xs ms-1 me-1" (click)="copiar(indice)"><i class="fa-regular fa-copy"></i> </button>
                <button type="button" class="btn btn-danger btn-xs" data-bs-toggle="modal" data-bs-target="#modalConfirm" (click)="borrar(indice)" >
                  <i class="fa-regular fa-trash-can"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr class="text-center">
            <td colspan="3">
              <pagination-controls (pageChange)="p = $event" previousLabel="Ant" nextLabel="Sig"></pagination-controls>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
<!-- componente para agregar o editar travesia  -->
    <div *ngIf="agregatravesia" class="form-group text-center">
      <span class="titulo"> Nueva Travesía</span>
      <div class="form-group text-start">
        <app-addedit-servicios (cancelaCarga)=" agregatravesia = editatravesia = false " (ActualizaTravesias)="ngOnInit()" [datosguia]="datosanexos" ></app-addedit-servicios>
      </div>
    </div>
    <div *ngIf="editatravesia" class="form-group text-center">
      <span class="titulo"> Editar Travesía</span>
      <div class="form-group text-start">
        <app-addedit-servicios (cancelaCarga)=" agregatravesia = editatravesia = false " (ActualizaTravesias)="ngOnInit()" [in_travesia]="unatravesia" ></app-addedit-servicios>
      </div>
    </div>
    <div *ngIf="copiatravesia" class="form-group text-center">
      <span class="titulo"> Copiar-Reeditar Travesía</span>
      <div class="form-group text-start">
        <app-addedit-servicios (cancelaCarga)=" copiatravesia = false " (ActualizaTravesias)="ngOnInit()" [in_travesia]="unatravesia" [datosguia]="datosanexos"></app-addedit-servicios>
      </div>
    </div>
<!-- fin del componente -->
    <div class="form-group mt-3 text-center">
      <button class="btn btn-primary" (click)="ocultoServicios()">Volver</button>
    </div>
  </div>
</div>
<!-- modal confirm elimina -->
<div class="modal fade" id="modalConfirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-confirm-component [mensaje]="mensaje" [titulo]="titulo" (confirma)="confirmaBorrado()"></app-confirm-component>
</div>

<!-- https://www.youtube.com/watch?v=aksjzLw0yBE -->











