<div class="card">
  <div class="card-body text-center mi-card">
    <span class="titulo"> Prestador : {{ guia?.empresa }}</span>
    <div *ngIf="!agregatravesia && !editatravesia" class="form-group text-start">
      <table class="table table-striped  mt-2">
        <thead>
          <tr>
            <th class="text-center" colspan="3">
              <button class="btn btn-success" (click)="agregatravesia = true">Carga Nueva
                Travesia</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="travesias?.length == 0  "   class="text-center">
            <td colspan="2"> <div class="alert alert-info text-center"> No se encuentras travesias para mostrar </div></td>
          </tr>
          <tr *ngFor="let travesia of travesias; let indice = index"   class="text-center">
            <td>{{travesia.lugar}}</td>
            <td>{{travesia.fecha | date: 'dd/MM/yyyy' }}</td>
            <td class="text-end"><button class="btn btn-info" (click)="editar(indice)">Editar </button></td>
          </tr>
          <tr class="text-center">
            <td colspan="3"></td>
          </tr>
        </tbody>
      </table>
    </div>
<!-- componente para agregar o editar travesia  -->
    <div *ngIf="agregatravesia" class="form-group text-center">
      <span *ngIf="agregatravesia" class="titulo"> Nueva Travesía</span>
      <div class="form-group text-start">
        <app-addedit-servicios (cancelaCarga)=" agregatravesia = editatravesia = false " (ActualizaTravesias)="ngOnInit()" [datosguia]="datosanexos" ></app-addedit-servicios>
      </div>
    </div>
    <div *ngIf="editatravesia" class="form-group text-center">
      <span *ngIf="editatravesia"class="titulo"> Editar Travesía</span>
      <div class="form-group text-start">
        <app-addedit-servicios (cancelaCarga)=" agregatravesia = editatravesia = false " (ActualizaTravesias)="ngOnInit()" [in_travesia]="unatravesia" ></app-addedit-servicios>
      </div>
    </div>
<!-- fin del componente -->
    <div class="form-group mt-3 text-center">
      <button class="btn btn-primary" (click)="ocultoServicios()">Volver</button>
    </div>
  </div>
</div>













