<div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card">
                    <div class="card-body text-center mi-card">
                        <div class="form-group text-start" >
                          <table class="table table-striped  mt-2">
                              <thead>
                                  <tr>
                                      <th class="text-center" colspan="3">
                                          <span class="titulo" id="titulo"> Detalle Servicio </span>
                                      </th>
                                  </tr>                          
                              </thead>
                              <tbody>
                                <tr>     
                                  <td>Nombre</td>
                                  <td>Senderos del mundo</td>
                                </tr>
                                <tr class="text-center">     
                                  <td colspan="2">Servicios del Guia</td>
                                </tr>
                                <tr class="text-justify">     
                                  <td colspan="2">
                                    <ul class="list-group">
                                        <li class="list-group-item">Cerro algo</li>
                                        <li class="list-group-item">Cascada algo</li>
                                        <li class="list-group-item">Salto del tigre algo</li>
                                    </ul>
                                  </td>
                                </tr>
                                <tr class="text-center">     
                                  <td colspan="2">
                                    <button class="btn btn-secondary ms-1 mt-1" >Volver</button>
                                    <button class="btn btn-secondary ms-1 mt-1">Inicio</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
