<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center mi-card">
                    <form *ngIf="verform" >
                        <span class="titulo" id="titulo"> Encuentra</span>
                        <div class="form-group text-start">
                            <label class="ms-1">Provincias</label>
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="pcia" [(ngModel)]="pcia" (change)="selectProv()">
                                <option selected value="0">Seleccione una provincia</option>
                                <option value="cordoba">Córdoba</option>
                                <option value="neuquen">Neuquén</option>
                                <option value="mendoza">Mendoza</option>
                              </select>    
                        </div>
                        <div class="form-group text-start mt-3">
                            <label class="ms-1">Fecha</label>
                            <input type="date" class="form-control" name="fecha" [(ngModel)]="fecha" />
                        </div>
                        <div class="form-group text-start">
                            <label class="ms-1">Destino</label>
                            <input type="text" class="form-control" placeholder="Ingrese palabra clave" name="travesia" [(ngModel)]="travesia">

                        </div>
                        <table class="table table-striped mt-2" *ngIf="pcia != '0'" >
                            <tbody>
                              <tr *ngFor="let traves of lista | destinos:travesia :fecha">     
                                <td>{{traves.lugar}}</td>
                                <td>{{traves.fecha}}</td>
                                <td><button class="btn btn-info" (click)="oculta()">Detalle</button></td>
                              </tr>
                            </tbody>
                          </table>
                    </form>
                    <div class="form-group text-start" *ngIf="!verform">
                        <table class="table table-striped  mt-2">
                            <thead>
                                <tr>
                                    <th class="text-center" colspan="3">
                                        <span class="titulo" id="titulo"> guías de este destino</span>
                                    </th>
                                </tr>                          
                            </thead>
                            <tbody>
                              <tr>     
                                <td>guia1</td>
                                <td>datos1</td>
                                <td><button class="btn btn-info" >Servicio</button></td>
                              </tr>
                              <tr>     
                                <td>guia2</td>
                                <td>datos2</td>
                                <td><button class="btn btn-info" >Servicio</button></td>
                              </tr>
                              <tr>     
                                <td>guia3</td>
                                <td>datos3</td>
                                <td><button class="btn btn-info" >Servicio</button></td>
                              </tr>
                            </tbody>
                          </table>
                        <button class="btn btn-secondary" (click)="oculta()">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


