<div class="container mt-5">
<!-- Modal  de mensajes confirm-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content mi-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{tituloModal}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{mensajeModal}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <a class="btn btn-primary" routerLink="/login" data-bs-dismiss="modal">Login</a>
      </div>
    </div>
  </div>
</div>
<!-- fin de modal -->
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center mi-card">
                    <div *ngIf="verform" >
                        <span class="titulo" id="titulo"> Encuentra</span>
                        <div class="form-group text-start">
                            <label for="pcia" class="ms-1">Provincias</label>
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="pcia" name="pcia" [(ngModel)]="pcia" (change)="resetLista()">
                                <option selected value="0">Seleccione una provincia</option>
                                <option *ngFor="let unapcia of listaPcia " value={{unapcia.id}}>{{unapcia.nombre}}</option>
                            </select>    
                        </div>
                        <div class="form-group text-start mt-3">
                            <div class="row text-center">
                              <label for="fecha" class="mb-2">Fecha</label>
                            </div>
                            <div class="row">
                              <div class="col col-sm-3 col-lg-5 text-center">Todas 
                                <input type="checkbox" name="todas" id="todas" [checked]="fechasTodas" (click)="todasFechas()">
                              </div>
                              <div class="col col-sm-4 col-md">
                                <!-- <input type="date" class="form-control" id="fecha2" name="fecha2" [(ngModel)]="fecha2" (change)="obtenerDestinos()" /> -->
                                <app-selec-fecha [pcia_id]="pcia" (emitoFecha)="obtenerDestinos($event)"></app-selec-fecha>
                              </div>
                            </div>
                            
                        </div>
                        <div class="form-group text-start">
                            <label for="travesia" class="ms-1">Filtro destino deseado</label>
                            <input type="text" class="form-control" placeholder="Ingrese palabra clave" id="travesia" name="travesia" [(ngModel)]="travesia">

                        </div>
                        <div class="alert alert-info text-center mt-2" *ngIf="lista.length == 0 && getcomp">
                          No se encontraron resultados
                        </div>
                        <table class="table table-striped mt-2" *ngIf="lista.length > 0" >
                            <tbody>
                              <tr *ngFor="let traves of lista | destinos:travesia :fecha">     
                                <td>{{traves.lugar}}</td>
                                
                                <td><button class="btn btn-info" (click)="toggle_form_lista(traves.destino_id,traves.lugar)">Detalle</button></td>
                              </tr>
                              <tr>

                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <div class="form-group text-start" *ngIf="verlista">
                        <table class="table table-striped  mt-2">
                            <thead>
                                <tr>
                                    <th class="text-center" colspan="3">
                                        <span class="titulo" id="titulo"> Guías para -{{nom_dest}} -</span>
                                    </th>
                                </tr>                          
                            </thead>
                            <tbody>
                              <tr class="text-center" *ngFor="let undeta of listaDetalles; index as indice">     
                                <td>{{undeta.empresa}}</td>
                                <td>{{undeta.fecha}}</td>
                                <td class="text-end"><button class="btn btn-info" (click)="toggle_lista_deta(indice)">Servicio</button></td>
                              <tr class="text-center">     
                                <td colspan="3"><button class="btn btn-secondary" (click)="toggle_form_lista('','')">Volver</button></td>
                              </tr>
                            </tbody>
                          </table>
                        
                    </div>
                    <div class="form-group text-start" *ngIf="verdeta">
                      <table class="table table-striped  mt-2">
                          <thead>
                              <tr>
                                  <th class="text-center" colspan="3">
                                      <span class="titulo" id="titulo"> Detalle Servicio </span>
                                  </th>
                              </tr>                          
                          </thead>
                          <tbody>
                            <tr>     
                              <td>Nombre</td>
                              <td>{{muestraDetalle.empresa}}</td>
                            </tr>
                            <tr>     
                              <td>fecha de salida</td>
                              <td>{{muestraDetalle.fecha}}</td>
                            </tr>
                            <tr>     
                              <td>Hora de salida</td>
                              <td>{{muestraDetalle.hora}}</td>
                            </tr>
                            <tr>     
                              <td>Recorrido</td>
                              <td>{{muestraDetalle.lugar}}</td>
                            </tr>
                            <tr class="text-center">     
                              <td colspan="2">Detalle de Servicio</td>
                              
                            </tr>
                            <tr class="text-justify">     
                              <td colspan="2">{{muestraDetalle.desc}}</td>
                            </tr>
                            <tr class="text-center">     
                              <td colspan="2">
                                <button class="btn btn-secondary mt-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="ir_guia()">Guía</button>
                                <button class="btn btn-secondary ms-1 mt-1" (click)="toggle_lista_deta(000)">Volver</button>
                                <button class="btn btn-secondary ms-1 mt-1" (click)="toggle_inico()">Inicio</button>
                                <button class="btn btn-secondary ms-1 mt-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop"  (click)="apuntar()">Ver</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
