<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center mi-card">
                    <span class="titulo"> Mis datos de guía</span>
                        <div class="form-group text-start">
                            Matricula
                        </div>
                        <div class="form-group text-start">
                            Especialidad
                        </div>
                        <div class="form-group text-start">
                           Servicios
                        </div>
                </div>
            </div>
        </div>
    </div>

