<div class="container mt-5">
  <div *ngIf="ventanaValidar">
        <app-validarguia></app-validarguia>
  </div>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card" *ngIf="!muestraServicios">
                <div class="card-body text-center mi-card">
                    <span class="titulo"> Mis datos de guía</span>
                        <form (ngSubmit)="procesarGuia()" #formGuia="ngForm">
                            <div class="form-group text-start">
                                <label class="ms-1">Razón de Emp/Nombre</label>
                                <input type="text" class="form-control" name="empresa" [(ngModel)]="guia.empresa" #empresa='ngModel' placeholder="Mi Emprendimientos" required [disabled]="edita">
                            </div>
                            <div class="span-invalid ms-4 me-4 mt-1" *ngIf="empresa.invalid && empresa.touched">
                                <span> Puedes usar simpemente tu nombre aquí</span>
                            </div>
                            <div class="form-group text-start mb-2">
                                <label class="ms-1">Cel. Contacto</label>
                                <input type="text" class="form-control" name="celular" [(ngModel)]="guia.cel" #celular='ngModel' placeholder="XXXXXXXXXX" required [disabled]="edita">
                            </div>
                            <div class="span-invalid ms-4 me-4 mt-1" *ngIf="celular.invalid && celular.touched">
                                <span> Es importante que puedan contactarte </span>
                            </div>
                            <div class="form-group text-start mb-2">
                                <label class="ms-1">Cel. Alt.</label>
                                <input type="text" class="form-control" name="celalt" [(ngModel)]="guia.celalt" #celalt='ngModel' placeholder="XXXXXXXXXX" [disabled]="edita">
                            </div>
                            <div *ngIf="edita || ineditable">
                                <div class="form-group text-start">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalValidar">
                                            Validar Guía
                                          </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button class="btn btn-primary me-2" [disabled]="formGuia.invalid || edita" >Gaurdar</button>
                                <button class="btn btn-secondary me-2" [disabled]="!edita" (click)="editar()" >Editar</button>
                                <button type="button" class="btn btn-secondary me-2" (click)="misServicios()" [disabled]="!edita" >Servicios</button>
                            </div>
                        </form>
                </div>
            </div>
            <app-servicios-guia *ngIf="muestraServicios" [in_guia]="guia" (Ocultar)="muestraServicios = !muestraServicios"></app-servicios-guia>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalValidar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <app-validarguia [email]="email" [usuarioguiaID]="guia.id" ></app-validarguia>
    </div>

    <!-- {{ guia.id | json }} -->
  

