<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center mi-card">
                    <span class="titulo"> Mis datos de guía</span>
                        <form (ngSubmit)="procesarGuia()" #formGuia="ngForm">
                            <div class="form-group text-start">
                                <label class="ms-1">Matricula</label>
                                <input type="text" class="form-control" name="matricula" [(ngModel)]="guia.matricula" #matricula='ngModel' placeholder="XXXXXX" required [disabled]="edita || ineditable">
                            </div>
                            <div class="span-invalid ms-4 me-4" *ngIf="matricula.invalid && matricula.touched">
                                <span> Debes ingresar una matricula válida </span>
                            </div>
                            <div class="form-group text-start">
                                <label class="ms-1">Razón de Emp/Nombre</label>
                                <input type="text" class="form-control" name="empresa" [(ngModel)]="guia.empresa" #empresa='ngModel' placeholder="Mi Emprendimientos" required [disabled]="edita">
                            </div>
                            <div class="span-invalid ms-4 me-4" *ngIf="empresa.invalid && empresa.touched">
                                <span> Puedes usar simpemente tu nombre aquí</span>
                            </div>
                            <div class="form-group text-start">
                                <label class="ms-1">Resolución</label>
                                <input type="text" class="form-control" name="resolucion" [(ngModel)]="guia.resolucion" #resolucion='ngModel' placeholder="XXX/X" required [disabled]="edita || ineditable">
                            </div>
                            <div class="span-invalid ms-4 me-4" *ngIf="resolucion.invalid && resolucion.touched">
                                <span> Numero de Resolución que te habilita, será chequeado por el sistema </span>
                            </div>
                            <div class="form-group text-start mb-2">
                                <label class="ms-1">Cel. Contacto</label>
                                <input type="text" class="form-control" name="celular" [(ngModel)]="guia.cels" #celular='ngModel' placeholder="XXXXXXXXXX" required [disabled]="edita">
                            </div>
                            <div class="span-invalid ms-4 me-4" *ngIf="celular.invalid && celular.touched">
                                <span> Es importante que puedan contactarte </span>
                            </div>
                            <div *ngIf="!edita && !ineditable">
                                <div class="minus"> Agregar 1 actividad con la que estás legalizado</div>
                                <div class="form-group text-start">
                                    <label class="ms-1">Actividad/es</label>
                                    <input type="text" class="form-control" name="actividad" [(ngModel)]="guia.actividad" #actividad='ngModel' placeholder="tirolesa" required [disabled]="edita">
                                </div>
                                <div class="span-invalid ms-4 me-4" *ngIf="actividad.invalid && actividad.touched">
                                    <span> La actividad con la que chequearemos la validez de la resolución </span>
                                </div>
                                </div>
                            <div class="form-group mt-3">
                                <button class="btn btn-primary me-2" [disabled]="formGuia.invalid || edita" >Gaurdar</button>
                                <button class="btn btn-secondary me-2" [disabled]="!edita" (click)="editar()" >Editar</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>

