<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center mi-card">
                    <span class="titulo"> Mi perfil</span>
                    
                        <div class="form-group text-start">
                            Nombre y apellido
                        </div>
                        <div class="form-group text-start">
                            Correo electronico
                        </div>
                        <div class="form-group text-start">
                           Cambio de Clave
                        </div>
                        <div class="form-group text-start">
                           Quiero registrarme como guía <input type="checkbox" name="soyGuia" (click)="esGuia()" >
                        </div>
                </div>
            </div>
        </div>
    </div>
   <app-guia *ngIf="esguia"></app-guia>