<div class="modal-dialog  modal-dialog-centered">
  <div class="modal-content mi-modal">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Validación de Guía</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetComp()"></button>
    </div>
    <div class="modal-body">
      <select  *ngIf="provincia < 24"   class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" [(ngModel)]="provincia" id="pcia" name="pcia" (change)="ValidarGuiaProvincia()" >
        <option selected value="0">Seleccione una provincia</option>
        <option value="1">Córdoba</option>
      </select> 
      <div *ngIf="!formValida || provincia == 0" class="alert alert-danger">
       <b> Este proceso de validación es importante para que tus clientes sepan lo responsable que eres !!!!</b>
      </div>

      <div *ngIf="formValida && provincia == 25" class="alert alert-info">
        <b> Tus datos se validaron correctamente</b>
      </div>

      <div *ngIf="formValida && provincia == 26" class="alert alert-warning">
        <b> Lo siento, no hemos podido validar tus datos como guía</b>
      </div>

      <div *ngIf="formValida && provincia == 1" >
        <form #formValida="ngForm">
          <div class="form-group text-start mb-2">
            <label class="ms-1">Correo</label>
            <input type="text" class="form-control" name="correo"  placeholder="nombre@dominio" #correo='ngModel' [(ngModel)]="email" required="">
            <div class="alert alert-danger mt-1" *ngIf="correo.invalid && correo.touched" >Debes ingresar el correo electrónico con el que estás registrado en el Ente provinciar</div>
          </div>
          <div class="form-group text-start mb-2">
            <label class="ms-1">Matricula</label>
            <input type="text" class="form-control" name="matricula"  placeholder="XXXX" #matric='ngModel' [(ngModel)]="matricula" required="">
            <div class="alert alert-danger mt-1" *ngIf="matric.invalid && matric.touched" >Ingresa la matrícula</div>
          </div>
          <div class="form-group text-start mb-2">
            <label class="ms-1">Resolución</label>
            <input type="text" class="form-control" name="resolusion"  placeholder="XXX/XX" #resol='ngModel' [(ngModel)]="resolucion" required="">
            <div class="alert alert-danger mt-1" *ngIf="resol.invalid && resol.touched" >Ingresa la resolucsión que te habilita</div>
          </div>
          
          <div class="form-group text-start mb-2">
            <label class="ms-1">Actividades</label>
            <div class="alert alert-secondary" role="alert">
              Escribe al menos una actividad con la que te hayan validado como guía
            </div>
            <input type="text" class="form-control" name="actividades"  placeholder="Caminatas" #activ='ngModel' [(ngModel)]="actividad" required="">
            <div class="alert alert-danger mt-1" *ngIf="activ.invalid && activ.touched" >Ingresa una actividad con la que seas un guía válido</div>
          </div>

          <div class="form-group text-end mb-2">
            <button type="button" class="btn btn-primary" [disabled]="formValida.invalid" (click)="validarDatos()">Validar</button>
          </div>

        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetComp()">Cerrar</button>

    </div>
  </div>
  </div>
</div>