<div class="modal-dialog  modal-dialog-centered">
  <div class="modal-content mi-modal">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Validación de Guía</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetComp()"></button>
    </div>
    <div class="modal-body">
      <select  *ngIf="provincia < 24"   class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" [(ngModel)]="provincia" id="pcia" name="pcia" (change)="ValidarGuiaProvincia()" >
        <option selected value="0">Seleccione una provincia</option>
        <option value="1">Córdoba</option>
      </select> 
      <div *ngIf="!formValida || provincia == 0" class="alert alert-danger">
       <b> Este proceso de validación es importante para que tus clientes sepan lo responsable que eres !!!!</b>
      </div>
      <!-- {{ email }} -->
      <div *ngIf="formValida && provincia == 25" class="alert alert-info">
        <b> Para completar el proceso de validacón deberás enviarnos un email a validacionestp@gmail.com desde la casilla {{email}} con el siguiente Token: 645be4d670 </b>
      </div>

      <div *ngIf="formValida && provincia == 26" class="alert alert-warning">
        <b> Lo siento, no hemos podido validar tus datos como guía</b>
      </div>

      <div *ngIf="formValida && provincia == 1" >
        <form #formValida="ngForm">
          <div class="form-group text-start mb-2">
            <label class="ms-1">Resolución</label>
            <input type="text" class="form-control" name="resolusion"  placeholder="XXX/XX" #resol='ngModel' [(ngModel)]="resolucion" required="">
            <div class="alert alert-danger mt-1" *ngIf="resol.invalid && resol.touched" >Ingresa la resolucsión que te habilita</div>
          </div>
          <div class="form-group text-start mb-2">
            <label class="ms-1">Mensaje</label>
            <div class="alert alert-secondary" role="alert">
              En Córdoba Turismo deberías estar registrado con un email y una resolución que te hailita como prestador de servicios.
            </div>
          </div>

          <div class="form-group text-end mb-2">
            <button type="button" class="btn btn-primary" [disabled]="formValida.invalid" (click)="validarDatos()">Validar</button>
          </div>

        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetComp()">Cerrar</button>

    </div>
  </div>
  </div>
</div>
